<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome</h1>

    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.username }}</p>
    {% else %}
    <p>User is not logged in</p>
    {% endif %}

    <button id="logout" {% if not user.is_authenticated %} style="display:none" {% endif %}>Logout</button>

    <a href="{% url 'user-login' %}">Login</a>

  </body>

  <script>
    let logoutButton = document.getElementById("logout");

    logoutButton.addEventListener("click", async function (event) {
      event.preventDefault(); // Prevent default behavior
    
      try {
        // Send POST request to logout the user
        const response = await fetch("/api/logout/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });

        if (response.ok) {
          console.log("Logout successful!");

          alert("Logout successful!");
          window.location.href = "{% url 'user-login' %}"; // Redirect to login page
        } else {
          alert("Logout failed. Please try again.");
        }
      } catch (error) {
        console.error("Logout error:", error);
      }
    });
  </script>
</html>
