<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form id="loginForm" method="POST">
      {% csrf_token %}
      <input type="text" id="username" name="username" placeholder="Username" required /><br /><br />
      <input type="password" id="password" name="password" placeholder="Password" required /><br /><br />
      <button type="submit">Login</button>
    </form>

    <p>
      Don't have an account? <a href="{% url 'user-register' %}">Register here</a>
    </p>

    <script>
      document.getElementById('loginForm').addEventListener('submit', function (event) {
        event.preventDefault()

        let username = document.getElementById('username').value
        let password = document.getElementById('password').value

        // Send login request to backend
        fetch('http://127.0.0.1:8000/api/login/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username, password })
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message === 'Login successful!') {
              alert('Login successful!');
              window.location.href = '/'; // Redirect to home page after successful login
            } else {
              alert('Login failed: ' + data.message);
            }
          })
          .catch((error) => {
            alert('Error: ' + error);
          })
      })
    </script>
  </body>
</html>
